.my-button {
  -fx-cursor: hand;
  -fx-background-color: #3498db;
  -fx-text-fill: white;
  -fx-padding: 10px 20px;
  -fx-background-radius: 5px;
  -fx-border-width: 0;
}

.my-button:hover {
  -fx-background-color: #2980b9;
}