# Maven build directories
/target/

# Eclipse IDE files
/.classpath
/.project
/.settings/

# IntelliJ IDEA files
/.idea/
/*.iml

# VSCode files
/.vscode/

# Java specific files
*.class
*.log

# OS specific files
.DS_Store
Thumbs.db
